<!DOCTYPE html>
<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>

<h2>Shelf Details</h2>

<table>
  <tr>
    <th>Location</th>
    <th>Room</th>
    <th>Capacity</th>
  </tr>
  <%if(pdfData){%>
  <tr>
    <td><%pdfData.location ? pdfData.location: ''%></td>
    <td><%pdfData.room ? pdfData.room: ''%></td>
    <td><%pdfData.capacity ? pdfData.capacity: ''%></td>
  </tr>
  <%}%>
</table>

</body>
</html>
    